@{
    ViewData["Title"] = "Encomendas";
}
<p style="background-color: #82c921; border-bottom-left-radius: 40px 30px; border-bottom-right-radius: 40px 30px; height: 50px; margin-top: -10%; margin-bottom: 5%; width: 108%; margin-left: -4%;"></p>
<div>    
    <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
        <table id="customers" class="carousel-cell">
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Berglunds snabbköp</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
        </table>
        <table id="customers" class="carousel-cell">
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
        </table>
        <table id="customers" class="carousel-cell">
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Königlich Essen</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
        </table>
        <table id="customers" class="carousel-cell">
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
        </table>
        <table id="customers" class="carousel-cell">
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>North/South</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
            <tr>
                <td>Paris spécialités</td>
                <td><img id="social" src="https://www.picng.com/upload/whatsapp/png_whatsapp_65984.png" /><img id="social" src="https://w7.pngwing.com/pngs/140/391/png-transparent-telephone-computer-icons-symbol-email-miscellaneous-telephone-call-hand.png" /></td>
            </tr>
        </table>
    </div>
</div>
<style>
    .flickity-button {
        display: none;
    }
    #social {
        height: 20px;
        width: 20px;
        margin-right:10%;
    }
    .carousel-cell{
        width:100%;
    }
    .pb-3, .py-3 {
        padding-bottom: 2rem !important;
    }
    /*
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }*/
    .table-head {
        float: left;
        width: 80px;
        border-right: 2px solid #333;
        border-collapse: collapse
    }

    .table-scroll {
        float: left;
        width: calc(100% - 81px);
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        background-color: #AAA;
    }

    .table-scroll table {
        margin-top: -1px;
        width: 30%;
        min-width: 300px;
        max-width: 40%;
        border-collapse: collapse;
    }

    th {
        text-align: left;
        background-color: #f2f2f2;
        color: #0076BF;
    }

    th, td {
        padding: 10px;
        border: 1px solid #333;
        background-clip: padding-box;
    }

    td {
        background-color: #fff;
    }
</style>